
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
  }
  
  form {
    padding: 20px;
    border-radius: 8px;
    background-color: green;
  }
  