body {
  margin: 0;
  font-family: sans-serif;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

input, button {
  width: 100%;
  padding: 0.7rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

button {
  background: #5f27cd;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #4e1ea8;
}

a {
  display: block;
  text-align: center;
  margin-top: 1rem;
  color: #5f27cd;
  text-decoration: none;
  font-size: 0.9rem;
}
